// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'icheck/square/blue';

@font-face {


	font-family: "OpenSans-Semibold";
	src: url('/assets/OpenSans-Semibold');

		font-family: "OpenSans-Regular";
	src: url('/assets/OpenSans-Regular');

		font-family: "OpenSans-Light";
	src: url('/assets/OpenSans-Light');
}
p{
	margin: 0;
	font-family: "OpenSans-Regular";
}
div{
	font-family: "OpenSans-Light";
}

.content{

   position: relative;
	 height: 100%;
	 min-width: 445;


}

.header{
  color: white;
  background-color: rgb(58, 175, 218);
  height: 60px;
	width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
	margin-bottom: 30px;
}

.task{
  display: flex;
  align-items: center;

  color: white;
  margin:auto;
}

#create_todo{
margin-right: 10px;
background: none;
}

 .container{
	 display: grid;
	 grid-template-columns: 1fr 1fr 1fr;
	 grid-gap:20px 30px;
	 align-items:baseline;
	 justify-content: center;
	 margin-left: 30px;
	 min-width: 445px;


 }
 @media(max-width:740px){
 .container{
	 grid-template-columns:1fr;
 }
}

@media(min-width: 740px) and (max-width:1150px){
 .container{
	 grid-template-columns:1fr 1fr;
 }
}
/////////////////////Task-kart/////////////////////////////

.item{
	width: 360px;
	padding:0 10px;
  box-shadow: 0px 2px 4px  #ccc;
		background-color: rgba(244, 244, 244, 0.20);
		border-radius: 1px ;
}
.line{

  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.p_text{
	padding: 0 20px;
	font-family: 'OpenSans-Light', sans-serif;
	font-size: 14px;


}
#task_title{
	text-transform: uppercase;
 font-family: 'OpenSans-Semibold';
 padding:10px 20px 5px 20px;
 font-size: 12px;

}
#task_text{
  padding: 20px 10px 5px 20px;
  font-style: italic;
}
.todo_block{
	padding: 0 10px 20px 20px;
}
div.item{
	padding: 0px ;
}




#checkbox{
  display: unset;
}

input[type="checkbox"] {

}
input[type="checkbox"] + label span {
    display:inline-block;
    width: 17px;
    height: 17px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(image_path('blue.png')) -24px  top no-repeat;
    cursor:pointer;
		background-color: #fff;
}
input[type="checkbox"]:checked + label span {    background:url(image_tag('blue.png')) -48px top no-repeat;
}

.icheckbox_square-blue:checked + label p{
  text-decoration: line-through;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox_square-blue,
    .iradio_square-blue {
        background-image: url(image_path('blue@2x.png'));
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}


#update{
	display: flex;
}

///////////////////////FORM//////////////////

.background{
 		opacity: 0;/* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8);
		transition: .3s;
}
.background:hover{
	visibility:visible;
	opacity: 1;

}
.container-form{
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	width: 350px;
	height: 220px;
	background-color: #ffffff;
	text-align: center;
	border-radius: 2px;
}
.form{
	height: 200px;
}

#new_task{
  font-size: 15px;
	padding: 10px 0 0 0;
	font-family: 'OpenSans-Semibold';
}
hr{
	margin-bottom: 15px;
	opacity: .5

}

input [type="text"]{
	width: 50px;
	height: 30px;
}
#todo_text{
	font-size: 15px;
		width: 320px;
	height: 40px
}
#todo_project_id{
	width: 325px;
	height: 42px;

}
select{
	margin-bottom:  10px ;
	background-color: #fff;
-webkit-appearance: none;
}

select {


   background:url(image_path('down_arrow_select')) right no-repeat;
   border: 1px solid #ccc;

   }

.form{
 height: 200px;
	padding: 10px ;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;


}
.ok{
	padding: 10px 70px;
  background-color:rgb(58, 175, 218) ;
	text-decoration: none;
	font-style: 'OpenSans-Semibold';
	font-size: 10px;
	color: #ffffff;

}
.ok:hover{
	background-color:rgb(24, 145, 180) ;

	transition: .5s;
}
.cansel{

	padding: 10px 63px;
  background-color:rgb(128, 128, 128) ;
  text-decoration: none;
	font-style: 'OpenSans-Semibold';
	font-size: 10px;
	color: #ffffff;
}

.cansel:hover{
	background-color:rgb(80, 80, 80) ;

	transition: .5s;
}
// .form-box{
// 	display: flex;
//  	justify-content: center;
//  	align-items: center;
// 	width:250px;
// 	height: 200px;
// }
//
// .form-box-wrapper{
//   position: absolute;
//   display: flex;
//   justify-content: center;
//   text-align: center;
